/Spectacle30.zip
/Spectacle31.zip
/Application/build/generated/ap_generated_sources/debug/out/
/Application/build/generated/source/buildConfig/debug/
/Application/res/values/credentials.xml
.*
!.gitignore